# Dimensions
common_dimensions = [ "account_id", "region" ]
tag_dimensions    = []

# CloudWatch
cloudwatch_log_stream_age_max_days = 90

# Cost Explorer
cost_explorer_service_cost_max_cost_units = 10

# DynamoDB
dynamodb_table_stale_data_max_days = 90

# EBS
ebs_snapshot_age_max_days          = 90
ebs_volume_avg_read_write_ops_high = 500
ebs_volume_avg_read_write_ops_low  = 100
ebs_volume_max_iops                = 32000
ebs_volume_max_size_gb             = 100

# EC2
ec2_instance_allowed_types                    = ["%.nano", "%.micro", "%.small", "%.medium", "%.large", "%.xlarge", "%._xlarge"]
ec2_instance_avg_cpu_utilization_high         = 35
ec2_instance_avg_cpu_utilization_low          = 20
ec2_reserved_instance_expiration_warning_days = 30
ec2_running_instance_age_max_days             = 90

# ECS
ecs_cluster_avg_cpu_utilization_high = 35
ecs_cluster_avg_cpu_utilization_low  = 20

# Elasticache
elasticache_running_cluster_age_max_days     = 90
elasticache_running_cluster_age_warning_days = 30

# RDS
rds_db_instance_avg_connections          = 2
rds_db_instance_avg_cpu_utilization_high = 50
rds_db_instance_avg_cpu_utilization_low  = 25
rds_running_db_instance_age_max_days     = 90
rds_running_db_instance_age_warning_days = 30

# Redshift
redshift_cluster_avg_cpu_utilization_high = 35
redshift_cluster_avg_cpu_utilization_low  = 20
redshift_running_cluster_age_max_days     = 90
redshift_running_cluster_age_warning_days = 30
